<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{146,108}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,39},{146,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dragon_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dragon_come.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,224}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,83},{304,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,342},{120,68}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,61},{120,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gold_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,228},{112,84}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,50},{112,84}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>life_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>life_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>next_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,150},{116,100}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,48},{116,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sword_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sword_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ae2d6cf9cfd48195bf1b759b3f19580:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
